{% extends 'base.html' %}

{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:kwiecinskji@gmail.com">
                        kwiecinksji [at] gamil.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>Github:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/SzymonKwiecinski">
                        @SzymonKwiecinski
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/szymon-kwieci%C5%84ski-22b126181/">
                        Szymon Kwiecinski
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}