{% extends 'base.html' %}

{% block content %}
<main class="main main--about">
    <p>
        Hi, I’m Szymon (Please call me Simone 🙂)
    </p>
    <p>
        BSC in Robotics, Selt-taught programmer with high data literacy.
        I enjoy solving problems and learning new things. Apart from coding I love sports and reading history books.
    </p>
    <p>
        More about me...More about me...More about me...More about me...More about me...More about me...
        More about me...More about me...More about me...More about me...More about me...More about me...
        More about me...More about me...More about me...More about me...More about me...More about me...
        More about me...More about me...More about me...More about me...More about me...
    </p>
</main>
{% endblock %}