{% extends 'base.html' %}

{% block content %}
    <main class="main main--description">
        <p>
            Serwis został zrobiony na potrzeby zalicznia projektu na przedmiot "Architektura i Technologie Systemów internetowych".
            Prowadzony przez: dr hab. inż. Bartłomiej Jacek Kubica oraz dr inż. Adam Kozakiewicz
        </p>
        <p>
            Wymagania postawione serwisowi przez prowadządzych:
                Wykorzystanie HTML i CSS
                Nietrywialne formatowanie CSS
                Kompatybilność z przeglądarkami starszymi obsługującymi standard XHTML 1.1
                Serwis powienien funkcjoownowac poporawnie we wszystkich przegladarkach
                Dostępność dla niepełnosprawnych
                Wykorzystanie innej technologii niż CSS i HTML w projekcie:
                    1.Skrypty po stronie serwera
                    2.Wykorzystanie Bazy danych NoSQL MongoDB
                Serwis powienien zawierac przemyslany interfejs (łatwy w nawigacji)
                Dodanie strony poświęconej opisowi projektu/serwisu
                Zaprojektowanie strony,z kttórej teoretycznie ktoś miałby korzystać
            Wymagania postawione serwisowi przez autora

            Urzyte technologie

            Do zrobienia w przyszłości
        </p>
        <p>

        </p>
    </main>
{% endblock %}