{% extends 'base.html' %}

{% block content %}
    <main class="main main--description">
        <section>
            <p>
                Serwis został zrobiony na potrzeby zalicznia projektu na przedmiot "Architektura i Technologie Systemów internetowych".
                Prowadzony przez:
            </p>
                <ul>
            <li>dr hab. inż. Bartłomiej Jacek Kubica</li>
            <li>inż. Adam Kozakiewicz</li>
                </ul>
        </section>
        <section>
        <h2>
            Załżenia postawine przez autora:
        </h2>
            <ul>
                <li>Wykorzystanie co najmniej technologii HTML4. W projekcie użyto HTML5</li>
                <li>Wykorzystanie "nietrywialnego" formatowania CSS. Została użyta techologia CSS3 oraz metodologia BEM(block-element-modifaier) aby foramtować HTML</li>
            </ul>
        </section>
        <section>
        <h2>
            Użyte technologie:
        </h2>
            <ul>
                <li>Wykorzystanie co najmniej technologii HTML4. W projekcie użyto HTML5</li>
                <li>Wykorzystanie "nietrywialnego" formatowania CSS. Została użyta techologia CSS3 oraz metodologia BEM(block-element-modifaier) aby foramtować HTML</li>
            </ul>
        </section>
        <section>
        <h2>
            Wymagania postawione serwisowi przez prowadządzych:
        </h2>
            <ul>
                <li>Wykorzystanie co najmniej technologii HTML4. W projekcie użyto HTML5</li>
                <li>Wykorzystanie "nietrywialnego" formatowania CSS. Została użyta techologia CSS3 oraz metodologia BEM(block-element-modifaier) aby foramtować HTML</li>
                <li>
                    Kompatybilność z popularnymi przeglądarkami internetowymi. Założenie spełnione. Strona działa poprawnie
                    na Safari, Firefox, Chrome, Opera
                </li>
                <li>łagodna degradacja, to znaczy serwis powinien działać na starszych przeglądarkach. ++++ </li>
                <li>Dostępność dla niepełnosprawnych. +++ </li>
                <li>
                    Wykorzystanie innych technologii poza HTML i CSS. Zostały wykorzystane skrypty po stronie serwera napisane w jezyku Python
                    z użyciem frameworku FLASK, oraz dane na temat projektów są przechowywane w bazie danych NoSQL MongoDB.
                </li>
                <li>
                    Serwis powinien zawierać dobrze przemyślany interfejs. Ocena tego punktu jest bardzo subiektywna ale
                    według autora został on spełniony. Każda interaktywna część interfejsu w jakiś sposób zmiena sie po
                    najechaniu na nią co pokazuje użytkownikowi, że może wejść w interakcjie z nią
                </li>
            </ul>

    </main>
{% endblock %}